body {
    background-color: whitesmoke;
    font-family: "Crimson Text", serif;
    font-size: 20px;
}

.container{
    margin: 0 auto;
    width: 940px;
}

main h1{
    font-size: 60px;
    background-color: white;
    background-image: url('ss.jpg');
    color: white;
    text-align: center;
    font-family: "Open Sans Condensed", sans-serif;
    padding: 20px;
    margin: 0px;
    border-bottom: 10px solid black;
    clear: right;
}

main h2{
    /*text-transform: uppercase;*/
    font-size: 35px;
    font-family: "Open Sans Condensed", sans-serif;
    padding: 20px 0;
}

p{
    text-align: justify;
    margin: 10px 0;
}

.acabou{
    margin-bottom: 50px;
}

.teste{
    margin-bottom: 10px;
}

main li{
    padding: 10px;
    color: inherit;
}

blockquote{
    background-color: lightgray;
    padding: 5px;
    border: 10px solid gray;
    width: 250px;
    margin: 0px;
    box-sizing: border-box;
}

strong{
    font-weight: 600;
}

em{
    font-style: italic;
}

aside{
    background-image: url('ss.jpg');
    color: white;
    text-align: center;
    padding: 20px;
    font-family: "Open Sans Condensed", sans-serif;
    border-bottom: 10px solid black;
    clear: right;
    border-left:  10px solid black;
}

aside, img{
    float: right;
    width: 10%;
    box-sizing: border-box;
}

img{
    border-bottom: 10px solid black;
    border-left:  10px solid black;
}

main{
    float: left;
    width: 90%;
}

nav h1{
    font-size: 30px;
    margin-bottom: 25px;
}

nav a{
    color: inherit;
}

.icones-sociais a{
    display: inline-block;
    text-indent: -9999px;
    margin: 5px;
}

.github{
    width: 40px;
    height: 40px;
    background-image: url(gitwhite.png);
}

.linkedin{
    width: 40px;
    height: 40px;
    background-image: url(linkedin1.png);
}

.gmail{
    width: 40px;
    height: 40px;
    background-image: url(gmail1.png);
}

footer{
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 17px;
}

footer{
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    clear: both;
}
